.box,
.set {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  transform: scale(0.8);
  transition: 0.5s;
}

.layout {
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.upload {
  margin: 2px 2px 2px 2px;
  padding: 2px 2px 2px 2px;
  text-align: center;
  align-items: center;
  display: grid;
}

/* For Pre-loader */
.preloader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 10000;
  overflow: hidden;
  /* Another one */
  transition: opacity 0.75s, visibility 0.75s;
}

.preloader--hidden {
  opacity: 0;
  visibility: hidden;
}

.preloader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pre-logo {
  animation-name: animateOne;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-delay: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animateOne {
  0% {
    opacity: 0;
    fill: #ffffff;
  }

  100% {
    opacity: 1;
    fill: #0092ca;
  }
}
